.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/bglogin.png') no-repeat center center fixed;
  background-size: cover;
}

.register-page .register-form {
  border-radius: 15px;
  text-align: center;
  height: 500px;
  color: #ffffff;
  width: 350px;
  display: block;
  background-color: rgba(172, 172, 172, 0.5);
}


.register-page .register-form form {
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

.register-page .register-form h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #fffcfc;
  border: none;
}

.register-page .input-text {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;


}

.register-page .input-text input {
  font-size: 20px;
  border-radius: 0;
  justify-content: center;
  width: 30px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  text-align: left;
}


.register-page .input-text ::placeholder {
  color: #ffffff;

}


.register-page .input-text i {
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  color: #ccc;
  align-items: center;
  margin-bottom: 10px;

}

.register-page .input-text input[type="email"],
.register-page .input-text input[type="password"],
.register-page .input-text input[type="text"] {
  padding-left: 30px;
}


.register-page button {
  background-color: #6F4E37;
  width: 70%;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.register-page p {
  margin-top: 10px;
}

.register-page p a {
  color: #FF8F41;
  text-decoration: none;
}

.register-page p a:hover {
  text-decoration: underline;
}