.admin-dashboard {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    margin-top: 20px;
    right: 10px;
    width: auto;
    border-radius: 10px;
}


.logout-button::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -200vh;
    right: -100vh;
    border-bottom: 2px solid orange;
}

.logout-button i {
    margin-right: 5px;
    color: white;
}

.sidebar h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -20px;
    right: -20px;
    border-bottom: 2px solid #fff;
    width: calc(100% + 40px);
}

.sidebar {
    width: 200px;
    position: fixed;
    height: 100vh;
    background-color: #6F4E37;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    font-size: 23px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 8px;
}

.sidebar ul li {
    margin-bottom: 10px;
    padding-top: 30px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    border-left: 5px solid white;
    background-color: #6F4E37;
}

.admin-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.admin-profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    border-top: 1px solid #fff;
    width: calc(100% + 40px);
}

.admin-profile img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.admin-profile p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffff;
}

.content h2 {
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.add-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}